In [2]:
#Create a dataframe using the following data and perform the tasks given below


import numpy as np
import pandas as pd

A=pd.read_csv('BOOK1.csv')                  
A.head()

   Sno Student Name Branch  Percentage  Attendance percentage
0    1            A   CSIT         100                    100
1    2            B    CSE          45                     89
2    3            C    ECE          34                     97
3    4            D    EEE          89                     76
4    5            E  AI DS          76                     78

In [20]:
#Rename the columns as Transaction_ID, Transaction_Date, User_ID, P_ID, Quantity


A_new = A.rename(columns={'Student Name': 'Transaction_ID', 'Branch':'Transaction_Name','Percentage':'User_ID', 'Attendance percentage':'Quantity'})

print(A_new)                                      #1

   Sno Transaction_ID Transaction_Name  User_ID  Quantity
0    1              A             CSIT      100       100
1    2              B              CSE       45        89
2    3              C              ECE       34        97
3    4              D              EEE       89        76
4    5              E            AI DS       76        78

In [23]:
#Order the rows of transactions by Transaction_ID in descending order


B_new = A_new.sort_values(by='Transaction_ID',ascending=False)
print(B_new)

   Sno Transaction_ID Transaction_Name  User_ID  Quantity
4    5              E            AI DS       76        78
3    4              D              EEE       89        76
2    3              C              ECE       34        97
1    2              B              CSE       45        89
0    1              A             CSIT      100       100

In [25]:
#Order the rows of transactions by Quantity ascending, TransactionDate descending 

B2 = B_new.sort_values(by='Quantity',ascending=True)
B3 = B2.sort_values(by='Transaction_Name',ascending=False)
print(B3)

   Sno Transaction_ID Transaction_Name  User_ID  Quantity
3    4              D              EEE       89        76
2    3              C              ECE       34        97
0    1              A             CSIT      100       100
1    2              B              CSE       45        89
4    5              E            AI DS       76        78

In [41]:
#Display only the row number 2, 4, 3
B3.iloc[[2,4,3],:]

   Sno Transaction_ID Transaction_Name  User_ID  Quantity
0    1              A             CSIT      100       100
4    5              E            AI DS       76        78
1    2              B              CSE       45        89

In [44]:
'''Count the total missing values in the data set. 
[the NAN in the table represent missing values and while preparing 
the data you can use np.NaN for these positions]''' 

count_nan = B3['Transaction_ID'].isna().sum()
print(count_nan)

0

In [46]:
#Replace the missing values with the average of the column where missing values are present 

df=B3.fillna(B3.mean())
print(df)

   Sno Transaction_ID Transaction_Name  User_ID  Quantity
3    4              D              EEE       89        76
2    3              C              ECE       34        97
0    1              A             CSIT      100       100
1    2              B              CSE       45        89
4    5              E            AI DS       76        78

In [48]:
#Print all the transaction where quantity is greater than 1 

B3[B3.User_ID > 10]

   Sno Transaction_ID Transaction_Name  User_ID  Quantity
3    4              D              EEE       89        76
2    3              C              ECE       34        97
0    1              A             CSIT      100       100
1    2              B              CSE       45        89
4    5              E            AI DS       76        78

In [63]:
#Remove the column Transaction_ID and print the dataframe 

del B3["User_ID"]
print(B3)

KeyError: 'User_ID'